.banner {
  background: url("../assets/main-bg.jpg") no-repeat center center;
  background-size: cover;
  width: auto;
  height: 1280px;
  padding-top: 300px;
  color: white;
}

.banner2 {
  background: url("../assets/the-games-bg.jpg") no-repeat center center;
  background-size: cover;
  width: auto;
  height: 1280px;
  padding-top: 400px;
  color: white;
}

.banner3 {
  background: url("../assets/features.jpg") no-repeat center center;
  background-size: cover;
  width: auto;
  height: 1280px;
  padding-top: 400px;
  color: white;
}

.banner4 {
  background: url("../assets/requirements.png") no-repeat center center;
  background-size: cover;
  width: auto;
  height: 1280px;
  padding-top: 300px;
  color: white;
}

.banner5 {
  background: url("../assets/top-score-bg.png") no-repeat center center;
  background-size: cover;
  width: auto;
  height: 1280px;
  padding-top: 250px;
  color: white;
}

/* Start CSS v-stepper Halaman Ke-3 */
.step {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: cream;
}

.v-stepper {
  position: relative;
  margin-top: 5px;
  /*   visibility: visible; */
}

/* regular step */
.step .circle {
  background-color: black;
  border: 3px solid white;
  border-radius: 100%;
  margin-top: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.step .line {
  margin-top: -7px;
  left: 9px;
  height: 120%;
  position: absolute;
  border-left: 3px solid gray;
}

.step.completed .circle {
  visibility: visible;
  background-color: white;
  border-color: white;
}

.step.completed .line {
  border-left: 3px solid white;
}

.step.active .circle {
  visibility: visible;
  border-color: white;
}

.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1;
  /* behind the circle to completely hide */
}

/* End CSS v-stepper Halaman Ke-3 */

/* CSS Image Halaman 5 */
.avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
