.banner {
    background: url("../assets/main-bg.jpg") no-repeat center center;
    background-size: cover;
    width: auto;
    height: 100%;
    padding-top: 300px;
    color: white;
}

.banner2 {
    background: url("../assets/the-games-bg.jpg") no-repeat center center;
    background-size: cover;
    width: auto;
    height: auto;
    padding-top: 300px;
    color: white;
}

.carousel-indicators li {
    height: 30px;
    width: 30px;
    border-radius: 15px;
  }