@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .score-card {
    @apply bg-green-500 py-12 text-white shadow-xl;
  }

  .selected {
    @apply bg-slate-300 shadow-lg;
  }

  .score-transition {
    @apply -translate-y-3 -rotate-12 scale-125 transition duration-300;
  }
}
