.parent {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 1px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  /* background-color: aqua; */
  width: 100%;
  height: 150px;
  border: 0;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  /* background-color: red; */
  width: 100%x;
  height: 150px;
}

.FlexContainer {
  display: flex;
}

.small {
  size: 50%;
}

.kategori {
  font-weight: 500;
  color: orange;
  font-size: 20px;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

/* Add Tulisan atas Navbar */
.parent2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div3 {
  grid-area: 1 / 1 / 2 / 2;
}
.div4 {
  grid-area: 1 / 2 / 2 / 3;
}
.div5 {
  grid-area: 1 / 3 / 2 / 4;
}
.div6 {
  grid-area: 1 / 4 / 2 / 5;
}
