@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .todo {
    @apply border-blue-300 border-2 rounded-lg h-12 mr-3 my-3 -ml-3 px-2 text-xl flex justify-evenly items-center;
  }
  .todo li {
    @apply flex-1;
  }
  .trash-btn,
  .complete-btn {
    @apply p-2 text-2xl cursor-pointer text-red-700 hover:text-4xl;
  }
  .complete-btn {
    @apply text-green-700;
  }
  .fa-trash,
  .fa-check {
    @apply pointer-events-none;
  }
  .completed {
    @apply line-through opacity-50 bg-slate-300;
  }
}
